*{
    margin: 0;
    padding: 0;

}

.main-01{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("../img/1.jpg");
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar-01{
    width: 1200px;
    height: 70px;
    margin: auto;
}
.icon-01{
    width: 200px;
    float: left;
    height: 70px;
}
.logo-01{
    color: #f59e0b;
    background-color: transparent;
    font-size: 35px;
    font-family: Arial, serif;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}
.menu-01{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 55px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}

/*Search button*/
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.arch{
    font-family: "Times New Roman", serif;
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid  #ff7200;
    margin-top: 13px;
    color: #fff;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.arch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial, serif;
    letter-spacing: 1px;
    line-height: 30px;
}
.content h1{
    font-family: "Times New Roman", serif;
    color: #f8f2f2;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.content button{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}
.content button a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
button:hover{
    background-color: #fff;
}
.content span{
    color: #ff7200;
    font-size: 60px;
}
.form{
    width: 250px;
    height: 400px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: Arial, serif;
}
.btn_login{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}
.btn_login:hover{
    background: #fff;
    color: #ff7200;
}
.btn_login a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Helvetica, Poppins, "aria-label", Arial, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease ;
}
.icons ion-icon:hover{
    color: #ff7200;
}


/*   -------------------------- */

.logo-01{
    width: 64px;
    height: 64px;
}
html{
    font-family: Poppins, "Trebuchet MS", Arial, sans-serif;
    color: #1e293b;
}
* {
    font-family: "lucida Sans", Verdana, "sans-serif";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f2f2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
h1, h2 {
    font-family: "Arial", serif;
    color: black;
    font-weight: bold;
}
/*style of header h2*/

header h2.Name-Profile{
    font-family: "Arteco-typography-mono", serif;
    font-size: 40px;
    padding-top: 1px;
    font-weight: bold;
    color: #000;
}

header h2.profile{
    font-family: "Arteco-typography-mono", serif;
    font-size: 20px;
    padding-top: 1px;
    font-weight: bold;
    color: #000;
}
header h2.role{
    font-family: "Arteco-typography-mono", serif;
    font-size: 17px;
    padding-top: 1px;
    font-weight: bold;
    color: #ff7200;
}
header h2.company{
    font-family: "Arteco-typography-mono", serif;
    font-size: 12px;
    padding-top: 2px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #ff7200;
}
header h2.date, h2.place{
    font-family: "Arteco-typography-mono", serif;
    font-size: 12px;
    padding-top: 2px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #596067;
}
section p.info{
    font-family: "Arteco-typography-sans", serif;
    font-size: 17px;
    /*padding-top: 2px;*/
   /* letter-spacing: 1px;*/
    text-align: justify;
    font-weight: normal;
    color: #131313;
}
article h2.body-profile{
    font-family: "Arteco-typography-mono", serif;
    font-size: 30px;
    padding-top: 1px;
    font-weight: bold;
    color: #000;
}

.header-site{
    background-color: #0f172a;
    color: #e2e8f0;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    align-content: stretch;
    flex-wrap: nowrap;
    justify-content: center;
}
h2{
    background-color: #fff;
}

.branding {
    margin: 0;
    padding: 1rem;
}
.nav-site{
    /*background-color: #E1E1E1FF;
    color: #000;
    padding-left:1em;
    margin: 0;
    display: flex;
    padding-top: inherit;*/
    padding: 0;
    margin: 0;
    display: flex;

}
.nav-site a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.nav-site a:hover{
    color: #ff7200;
}



.nav-button{
    display: block;
    width: auto;
    min-width: 4rem;
    max-width: 15rem;
    border-bottom: 3px solid #64748b;
    padding: 1rem;
    margin: 0 1rem;
    text-align: center;
    font-weight: 300;

}

.nav-button:hover {
    background: #A4A4A4FF;
    border-bottom: 3px solid #dc2626;

}
.nav-button.active{
    border-bottom-color: #ff7200;
}

.singCol{
    max-width: 750px;
    margin: 0 auto;
}
.social-icons{
    color: #e2e8f0;
    font-size: inherit;
}

.live-video-hero-image{
    background-color: #f59e0b;
}

.live-video-hero-image {
    /*border-top-left-radius: 1.6rem;
    border-top-right-radius: 0.8rem;*/
    position: relative;
    overflow-y: hidden;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-property: max-height;
    transition-delay: 0s;
}

.container{
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
/*
#wrapper {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #e2e8f0;
    display: grid;
    grid-template-areas: "header" "menu" "content" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px minmax(650px, auto) 100px;
}

#wrapper header, #wrapper footer{
    background-color: #000;
}*/

main{
    background-color: #f8f2f2;
    max-width: 100%;
    min-height: auto;
    padding: 1rem;
    grid-area: content;

    display: grid;
    grid-template-areas: "article1 article1 aside"
                            "article article aside"
                            "article2 article2 aside"
                            "article3 article3 aside"
                            "article4 article4 aside"
                            "article5 article5 aside";
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

}
.detail-personal{
    grid-area: article1;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
}
.experience{
    grid-area: article;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
}
.Employment-history1{
    grid-area: article2;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
}

.Employment-history2{
    grid-area: article3;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
}
.Employment-history3{
    grid-area: article4;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
}
.Employment-history4{
    grid-area: article5;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;
}

main aside{
    grid-area: aside;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #e0dfdf;

}
aside h3{
    font-family: sans-serif, serif;
    color: #ff7200;
    font-weight: bold;
    font-size: 20px;
}

aside p.info{
    font-family: "Arteco-typography-sans", serif;
    font-size: 15px;
    /*padding-top: 2px;*/
    /* letter-spacing: 1px;*/
    text-align: justify;
    font-weight: bold;
    color: #131313;
    display: flex;
}
aside p.place{
    font-family: "Arteco-typography-mono", serif;
    font-size: 12px;
    padding-top: 2px;
    letter-spacing: 1px;
    font-weight: normal;
    color: #596067;
    display: flex;
}


/*footer class*/
.footer-site {
    background: #0f172a;
    color: #e2e8f0;
    padding: 20px 0;
    text-align: center;

}
/*for social media */
.social-icons {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   /* margin: 0 30px;
    color: #555;
    font-size: 2.2rem;
    transition: color 0.3s ease-in-out*/

    font-size: 35px;
    padding-left: 24px;
    padding-top: 15px;
    transition: 0.3s ease ;
}
a{
    text-decoration: none;
    color: #555;

}
i{
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
}
.social-icons a:hover{
    color: #ff7200;
}

/*Footer bottom*/
.footer-bottom {
    background: #0f172a;
    color: #ff7200;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

/*Formulary Contact*/

label {
    margin: 1%;
    text-align: left;
    line-height: 1;
    width: 15%;
    padding: 1%;
    display: inline-block;
}

input, textarea, select {
    width: 70%;
    margin: 1% 1%;
    padding: 1%;
    display: inline-block;
    background: rgba(192,192,240, 0.1);
    border: 1px solid #aaa;
    -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
    -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
}
input:required,
textarea:required,
select:required{
    border-color: #ff7200;
}

input:valid {
    color: #333;
}

input:invalid {
    color: #a33;
}

input[type="submit"] {
    width: 25%;
    background:#ff7200;
    border: 1px solid  #ff7200;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s ease;
    text-align: center;
font-family: sans-serif;
    /*-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;*/
}

input[type="submit"]:hover {
    background-color: #fff;
}

#myContactUs {
    font-size: 1.1em;
    position: relative;
    width: 70%;
    margin: 2em auto;
    border: 1px solid #ccc;
    padding: 1em;

    -moz-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.3);
    box-shadow: 2px 2px 2px rgba(128, 128, 128, 0.3);

    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;

    background: #f6f6f0;
}
.containerContact{
    background-color: #ffffff;
    width: 60%;
    min-height: 100vh;
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1% auto;
    border-radius: 10px;
}
.title_map{
    color: #ff7200;
    margin-bottom: 20px;
    font-size: 18px;
}
.location-google_maps   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 80%;
    height: 500px;
}

.required:after {
    color: #c66;
    font-size: 0.7em;
    content: " required";
}
.footer-site-contact{
    background: #0f172a;
    color: #e2e8f0;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
}

/*Page About*/

.footer-site-about{
    background: #0f172a;
    color: #e2e8f0;
    /*padding: 20px 0;*/
    text-align: center;
   /* position: fixed;*/
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
}
.containerAbout{
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("../img/font-about.jpg");
    background-position: center;
    background-size: cover;

    width: 60%;
    height: 100vh;
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1% auto;
    border-radius: 10px;
}

.body-about{
    font-family: "Arteco-typography-mono", serif;
    font-size: 50px;
    padding-left: 20px;
    margin-top: 3%;
    letter-spacing: 2px;
    color: #ff7200;
}

.m1{
    font-family: "Arteco-typography-mono", serif;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 3%;
    letter-spacing: 2px;
    color: #fff;

}
.m2{
    font-family: "Arteco-typography-mono", serif;
    font-size: 30px;
    padding-left: 10px;
    margin-top: 5%;
    letter-spacing: 2px;
    text-align: justify;
    color: #ff7200;
}
.m3{
    font-family: "Arteco-typography-mono", serif;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 5%;
    letter-spacing: 1px;
    text-align: justify;
    color: #fff;
}
.m4{
    font-family: "Arteco-typography-mono", serif;
    font-size: 30px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    text-align: justify;
    color: #ff7200;
}

/* Demos */
h1{
    color: black;
}
.demos-container{
    background-color: #ffffff;
    width: 60%;
    min-height: 100vh;
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1% auto;
    border-radius: 10px;
}

/* projects */

.project_container{
    background-color: #ffffff;
    width: 60%;
    min-height: 100vh;
    border: 1px solid #ccc;
    padding: 1%;
    margin: 1% auto;
    border-radius: 10px;
}